body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    border-bottom: solid 2px rgb(219, 40, 20);
    padding: 20px;
    font-size: 32px;
    color: rgb(219, 40, 20);
}

section {
	background: rgb(90, 96, 91);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}